In [54]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [55]:
# Data link 
data_link = "https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv"

In [56]:
df_marks =  pd.read_csv(data_link)

In [57]:
df_marks

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [58]:
df_marks["percentage"] = df_marks["Scores"] / 100

In [63]:
type(np.array(df_marks.Hours))

numpy.ndarray

In [59]:
model_linear = LinearRegression()

In [79]:
model_linear = model_linear.fit(np.array(df_marks["Hours"]).reshape(-1, 1), np.array(df_marks["Scores"]))

In [84]:
target_hours = 9.25

In [ ]:
predicted_percentage = model_linear.predict(np.array([[9.25]]))

In [ ]:
print(f"Predicted Marks after studying for {target_hours}")